* {
    margin: 0;
    padding: 0;
}



/*
* START FILE
*/
/*
* Данный файл является основным сss файлом для этого сайта.
*
* все стили поделены на несколько частей:
    1. nav
    2. main
    3. footer
    4. achors
    6. other
* для перехода к определённому разделу нажмите [ctrl]+[f]
* введите название раздела и нажмите enter
*/

/* end introduction*/

/*
* раздел nav
*/
#navigation {
    height: 50px;
}

header#navigation {
    position: sticky;
    top: 0;
    z-index: 9999;
}

#navigation > .container-fluid {
    height: 100%;
}

.navbar {
    padding: .5rem 0;
}

.navbar-collapse {
    flex-grow: 0 !important;
    -webkit-flex-grow: 0 !important;
    -moz-flex-grow: 0 !important;
    -ms-flex-grow: 0 !important;
}

.main_menu {
    max-width: 992px;
    max-height: 50px;
}

#logo {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    max-height: 90%;
    margin-left: 1rem;
}

#logo span {
    padding: 0 5px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    text-align: center;
    padding: 0.3rem 1rem;
}

.nav-link.active {
    color: #1dd !important;
    background-color: #2e332f !important;
    border-radius: 10px;
}

.user_menu {
    background: #262a27;
    cursor: pointer;
    transition: 0.2s;
}

.user_menu.activate {
    background: #2e332f;
}

.menu_subitem {
    color: #b3e3c0;
}

.fa-user-circle {
    font-size: 37px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}

.fa-chevron-up {
    font-size: 14px;
    margin-left: 7px;
    background: none;
    max-width: 10px;
    max-height: 10px;
    vertical-align: super;
}


.submenu {
    position: absolute;
    top: 55px;
    right: 20px;
    visibility: hidden;
    background: #252a27;
    transition: opacity 100ms linear,top 100ms linear,visibility 100ms linear;
    opacity: 0;
    border-radius: 20px;
}

.submenu.activate {
    visibility: visible;    
    color: #DCDCDC;
    opacity: 1;
}

@media screen and (max-width: 992px){
    .user_menu {
        display: none;
    }
}
/*
* раздел main
*/

body {
    background: #b3e3c0;
}

p {
    margin-bottom: 0;
}

dl {
    margin-bottom: 0;
}

dt {
    font-weight: normal;
}

dd {
    font-size: 16px;
}

h2 {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.main_content_area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.block {
    display: block;
    padding: 0.5rem 1rem;
}

.site_pool_left {
    width: 100%;
    float: left;
}

.breadcrumb {
    border-radius: 20px;
    padding-left: 20px;
    background: #d5e3d9;
}

.folder {
    margin-bottom: 20px;
    border-radius: 10%;
}

.folder_header {
    background-color: #262a27;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.folder_title {
    color: #dcdcdc;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 0px;
    font-size: 1.35rem
}

.folder_main {
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.folder_main>dl {
    padding: 13px;
}

.folder_main>dl * {
    display: inline-block;
}

.folder_main>dl>dt {
    color: #778899;
}

.folder_main>dl>dd {
    float: right;
    color: #2b2e2b;
}

.folder_point {
    margin: 0 10px;
    border-top: 1px solid #939e96;
    padding: 1rem 0;
}

.folder_point:nth-child(1){
    border-top: none;
}

.folder_point > .fa-user-circle {
    margin-left: 20px;
}

.point_desc{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.point_desc p {
    color: #778899;
    font-size: 0.9rem;
}

.point_desc span {
    color: #2b2e2b;
}

.point_desc h2 {
    margin-bottom: 5px;
}

.fa-comments {
    font-size: 45px;
    margin-left: 20px;
    color: #262a27;
    display: inline-block;
    vertical-align: sub;
}

.users_list {
    line-height: 2rem;
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 992px){
    .site_pool_left {
        float: none;
    }
    .fa-comments {
        font-size: 30px;
    }
    .point_desc p{
        font-size: 12px;
    }

    .folder_title {
        padding: 10px 0px;
    }

    aside.folder:nth-child(1) {
        margin-top: 50px;
    }
}

/*
* раздел footer
*/

footer {
    background: #262a27;
    color: #dcdcdc;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer hr {
    max-width: 45%;
    background-color: #dcdcdc;
}

section.col-md-3{
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    section.col-md-3 {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    footer {
        text-align: center;
    }

    footer hr {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
* раздел achors
*/
a {
    color: #DCDCDC;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}
a:hover {
    color: #1dde40;
    text-decoration: none;
}

main a {
    color: #212529;
}

aside a {
    color: #212529;
}

.submenu a {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0.75rem 0;
}

.fa-chevron-up a {
    font-size: 14px;
}

.mob_only {
    display: block;
}

footer a {
    color: #1dde40;
}

footer a:hover {
    color: #8a867b;
}

@media screen and (min-width: 992px){
    .mob_only {
        display: none;
    }
}

/*
* раздел other
*/
.bg-dark {
    background-color: #262a27 !important;
}

.avatar {
    border-radius: 20%;
    width: 37px;
    height: 37px;
    margin-left: 20px;
}

.fa-vk {
    font-size: 30px;
    margin-right: 20px;
}

.fa-telegram-plane {
    font-size: 30px;
}

/*
* END FILE
*/